body{
    background-color: violet;
    color: brown;
    padding: 20px;
}
h1{
    background-color: #ffffff;
    background-color: hsla(0,100%,100%,0.5);
    color: #64645A;
    padding: 20px;
}
p{
    padding: 5px;
    margin: 0px;
}
.p1{
    background-color: rgb(240, 10, 125);
}
.p2{
    background-color: rgb(238, 20, 129);
}
.p3{
    background-color: rgb(241, 1, 81);
}
.p4{
    background-color: rgb(243, 11, 88);
}
.p5{
    background-color: rgb(197, 49, 74);
}
.p6{
    background-color:rgb(221, 59, 86);
}
.p7{
    background-color: rgb(199, 98, 131);
}
.p8{
    background-color: rgb(233, 39, 233);
}
.p9{
    background-color:rgb(197, 83, 121);
}
.p10{
    background-color: rgb(245, 121, 142);
}
.p11{
   background-color: rgb(197, 74, 95);
}
.p12{
   background-color: rgb(161, 49, 68);
}
.p13{
  background-color: rgb(238, 28, 98);
}
.p14{
  background-color: rgb(139, 2, 48);
}












