body{
    margin: 0px;
    padding: 0px;
}
.container{
    width: 900px;
    height: 600px;
    margin-left:100px;
    padding-top: 20px;
    margin-right: 100px auto;
    border: 2px solid black;
    background-image: url(./Penguins.jpg);
}
.home{
    width: 200px;
    height: 30px;
    margin-left: 50px;
    margin-right: 50px;
    display: inline;
}
.link{
    font-size: 30px;
    font-style:bold;
    color: black;
}
.btn{
    width: 500px;
    height: 50px;
    margin: 200px;
    text-align: left;
    border-radius: 10px;
     background-color: antiquewhite;
     color: black;
}
.pra{
   margin: 50px;
   font-size: 20px;
   font-style: italic;
}