<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
  </head>
  <body>
    <div class="container">
      <div class="header">
        <div class="bgimg"></div>
        <div class="header-content">
          <div class="navlinks ul">
            <ul class="navlinks ul li">
              <li>Home</li>
              <li>explore</li>
              <li>journal</li>
              <li>Search</li>
            </ul>
          </div>
          <h2 class="header-contcards-containerent h2">what happens tomorrow</h2>
          <p class="header-content p">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Temporibus, autem?
            <button class="header-content button">watch video</button>
          </p>
        </div>
       </div>
       <div class="body-container">
         <h2>Explore the world</h2>
         <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam asperiores
          veritatis quisquam quasi neque quos voluptatum delectus mollitia officia. Error 
          at hic ut repellendus <br>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit, temporibus!
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, veritatis?
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam fugiat hic at magnam natus autem adipisci.
           Asperiores odit natus, totam minus suscipit impedit eaque atque.
         </p>
         <div class="cards-container">
          <div class="card">
            <div class="card-image">
              <img src="./card.1.jpg" alt="card 1 image" />
            </div>
            <div class="card-content">
              <h3>Excepteur sint</h3>
              <p>magna aliqua</p>
            </div>
          </div>
          <div class="card">
            <div class="card-image">
              <img src="./card.2.webp" alt="card 1 image" />
            </div>
            <div class="card-content">
              <h3>Excepteur sint</h3>
              <p>magna aliqua</p>
            </div>
          </div>
          <div class="card">
            <div class="card-image">
              <img src="./card.3.jpg" alt="card 1 image" />
            </div>
            <div class="card-content">
              <h3>Excepteur sint</h3>
              <p>magna aliqua</p>
            </div>
          </div>
        </div>
      </div>
      <div class="footer">
      <div class="footer-img"></div>
      <div class="footer-content">
        <h3>Contact us</h3>
        <p>Feel free to drop us a line</p>
       <div class="form">
        <input type="text" placeholder="your name">
        <input type="email" placeholder="Enter email">
        <textarea rows="6">Write something</textarea>
       </div>
      </div>
      </div>
       </div>
</body>
</html>
